/* Modify AppRoot Element */
:host {
    height : 100%;
    display: flex;
    flex-direction : column;
  }
 
.header {
    
    height: 65px;
    
}

.content {
    flex : 1;
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}


.footer {
    height: 30px;
}

