<!--The content below is only a placeholder and can be replaced.-->

    <div class="header">
        <mat-toolbar color="primary">
            <button mat-button (click)="onLogoClick()">Maths Ninja</button>
            <button *ngIf="!userProfile" mat-button (click)="onLogInClick()">Log In</button>
            <button *ngIf="userProfile" mat-button (click)="onLogOutClick()">Log Out</button>
            <button *ngIf="userProfile" mat-button>Questions</button>
            <span *ngIf="userProfile">{{userProfile.name}}</span>  
        </mat-toolbar>
    </div>
    
    <div class="content">
         <router-outlet></router-outlet>
    </div>
    
    <div class="footer">
        Footer
        <div *ngFor="let note of notes | async">
            <h3>{{ note | json }}</h3>
        </div>
    </div>


